<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <div class="w3-card w3-padding-24">
            <div class="w3-container w3-center w3-dark-grey">
                <h1>Adtjes bar</h1>
            </div>
            <table class="w3-table">
            
                <tr class="w3-container">
                    <td>
                    Daniel Verhoef
                    </td>
                    <td>
                    <select class="w3-select">
                        
                            <option>Wijn</option>
                        
                            <option>Bier</option>
                        
                            <option>Cola</option>
                        
                    </select>
                    </td>
                    <td>
                        <button class="w3-button w3-circle w3-black">+</button>
                    </td>
                </tr>
            
                <tr class="w3-container">
                    <td>
                    Sandra Venhoek
                    </td>
                    <td>
                    <select class="w3-select">
                        
                            <option>Wijn</option>
                        
                            <option>Bier</option>
                        
                            <option>Cola</option>
                        
                    </select>
                    </td>
                    <td>
                        <button class="w3-button w3-circle w3-black">+</button>
                    </td>
                </tr>
            
                <tr class="w3-container">
                    <td>
                    Harmen Kraayenbrink
                    </td>
                    <td>
                    <select class="w3-select">
                        
                            <option>Wijn</option>
                        
                            <option>Bier</option>
                        
                            <option>Cola</option>
                        
                    </select>
                    </td>
                    <td>
                        <button class="w3-button w3-circle w3-black">+</button>
                    </td>
                </tr>
            
                <tr class="w3-container">
                    <td>
                    Marijke Wagenaar
                    </td>
                    <td>
                    <select class="w3-select">
                        
                            <option>Wijn</option>
                        
                            <option>Bier</option>
                        
                            <option>Cola</option>
                        
                    </select>
                    </td>
                    <td>
                        <button class="w3-button w3-circle w3-black">+</button>
                    </td>
                </tr>
            
            </table>
        </div>
    </div>
</body>
</html>